.MainLanBox ul{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 20rem;
    width: 40rem;
    padding: 2%;
    background-color: black;
    list-style: none;
    overflow-x: scroll;
}
.MainLanBox ul li:hover{
    background-color: grey;
    padding: 0.2rem;
}
.MainLanBox{
    position: absolute;
    right: -8%;
    top: 6%;
}